[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=exo-open --launch TerminalEmulator
Icon=terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop
Path=

[Desktop Action preferences]
Name=Terminal Preferences
Exec=xfce4-terminal --preferences
